body {
    border-radius: 0ch;
    color: rgb(44, 42, 165);
    border: 0em;

}
tr{

        font-family: verdana;
        font-size: 20px;
      
}
td{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  
}
button{
    color:blue ;
}
.input{
    color: blueviolet;
}